<p>usuario works!</p>
<table>
    <thead>
        <th>UserName</th>
        <th>Nome</th>
        <th>Apelido</th>
        <th>Perfil</th>
        <th>Is_Staff</th>
        <th>is_Superuser</th>
        <th>Password</th>
    </thead>
    <tbody>
        @for(s of usuarioList; track s.nome ){
            <tr>
                <td>{{s.username}}</td>
                <td>{{s.nome}}</td>
                <td>{{s.apelido}}</td>
                <td>{{s.perfil}}</td>
                <td>{{s.is_staff}}</td>
                <td>{{s.is_superuser}}</td>
                <td>{{s.password}}</td>
            </tr>
        }
    </tbody>
</table>


